.cover {
	width: 100%;
	min-height: 100vh;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	padding: 24px 0;
	overflow: hidden;
	text-align: center;

	&::after {
		content: '';
		width: 100%;
		height: 100%;
		min-height: 100vh;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-image: linear-gradient(to top, rgba(26, 40, 120, 0.7), rgba(10, 143, 196, 0.7));
	}

	&.img {
		background: #000 url('./img/background.jpg') no-repeat center fixed;
	}

	.wrap {
		width: 100%;
		position: relative;
		z-index: 1;
	}
}