.cards-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 24px;
	padding: 0 24px;;
}

.newCard {
	width: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px;
	margin: auto;
	background: lightblue;
	border-radius: 8px;

	.approveBtn {
		width: 170px;
		cursor: pointer;
		padding: 2px;
		border: none;
		border-radius: 4px;
		font-weight: bold;

		&:hover {
			color: #1BB95E;
		}
	}
}

body .mb12 {
	margin-bottom: 12px;
}

body .mb24 {
	margin-bottom: 24px;
}