.root {
	display: flex;
	align-items: center;
}

.btn {
	padding: 4px;
	border: unset;
	border-radius: 4px;
	background: white;
	cursor: pointer;
	color: black;

	&:hover {
		color: #1BB95E;
	}
}

.card {
	width: 100%;
	height: 40px;
	font-size: 18px;
	cursor: pointer;
	perspective: 1000px;

	&.done {
		.cardInner {
			transform: rotateY(180deg);
		}
	}
}

.cardInner {
	position: relative;
	background-color: transparent;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cardFront,
.cardBack {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 8px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.remembered {
	.cardFront,
	.cardBack {
		text-decoration: line-through;
	}
}

.cardFront {
	background-color: #fff;
	color: black;
}

.cardBack {
	background-color: #1BB95E;
	color: white;
	transform: rotateY(180deg);
}

.mr-12 {
	margin-right: 12px;
}